/*
*   Body & Background
*/
body {
    display: contents;
}
body > div {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.45;
    background: linear-gradient(-45deg, #d78909, #dca901,#16a784, #0a7764);
    /*background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    height: 100vh;*/
}
/*@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}*/
.mainPage {
    background-color: #000028;
    width: 45%;
    height: 100%;
    margin: auto;  
    padding: 1%;
    overflow-x: hidden;
}
*, *:before, *:after {
	box-sizing: border-box;
}

/*
* Title Area
*/
.title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0 0 0.5em 0;
    color: #ffffff;
    height: 4%;
}

/*
* Chat Area
*/
ul {
    list-style-type: none;
    padding: 0 0.5em 0 0.5em;
}
.chatHistory {
    background-color: #c0dbed;
    height: 88%;
}
.chatList {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    overflow-x: hidden;
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.chatList .userInput,
.chatList .botOutput {
    padding: 0.85em;
    margin: 0.5em;
    max-width: 100%;
    border-radius: 20px;

}
.chatList .userInput {
    box-shadow: -6px 7px 1px 1px #d78909;
    background-color: #dca901;
    opacity: 0;
    animation-name: animateBubble;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
    
}
.chatList .botOutput {
    align-self: flex-start;
    box-shadow: 6px 7px 1px 1px #1b8d4b;
    background-color: #16a784;
    will-change: auto;
    height: auto;
    opacity: 0;
    animation-name: animateBubble;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}
.chatList .botOutput:last-child {
    display: none;
}
.chatList .botOutput--standard:last-child {
    display: block;
}
.chatList .botOutput--second-sentence {
    display: block;
}
.chatList .botOutput:nth-child(1) {
    animation-delay: 600ms;
    animation-play-state: running;
}
.chatList .botOutput:nth-child(2) {
    animation-delay: 1200ms;
    animation-play-state: running;
}
.chatList .botOutput:nth-child(3) {
    animation-delay: 1800ms;
    animation-play-state: running;
}
@keyframes animateBubble {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/*
* Input Area
*/
.calculator {
    width: 15%;
    height: 4vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.2em;
    border-radius: 8px 8px 8px 8px;
}




.chatboxArea {
    margin: 0 auto;
    position: relative;
    display: flex;
    bottom: 0;
    height: 6%;
    padding: 0.5% 0 0.5% 0;
    width: 100%;
    
    
}

#chatform {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;

    font-size: 12pt;
    font-family: Helvetica;
}
textarea[name="chatbox"] {
    resize: none;
    border: 2px solid #27ae60;
    border-right: 0;
    width: 80%;
    background-color: transparent;
    color: #fff;
    height: 75%;
    margin: 0;
    padding: 0.75em;
    border-radius: 8px 0px 0px 8px;
    font-family: inherit;
    font-size: 1em;
    overflow: hidden;
    position: static;
}
textarea[name="chatbox"]:focus {
    outline: none;
    border: 2px solid #4bd786;
}
::-webkit-input-placeholder {
    color: #fff;
}

input[type="submit"] {
    -webkit-appearance: none;
    height: 75%;
    appearance: none;
    border: 0;
    width: 30%;
    margin: 0;
    background-color: #27ae60;
    color: #fff;
    border: 2px solid #27ae60;
    border-left: 0;
    border-radius: 0 8px 8px 0;
    font-family: inherit;
    font-size: 16pt;
    transition: 200ms all ease-in;
    resize: none;
}
input[type="calc"]:hover,
input[type="submit"]:hover {
    background-color: #4bd786;
    border-color: #4bd786;
    color: #fff;
}
.input__nested-list {
    list-style: disc;
    list-style-position: inside;
    padding: 0.5em;
}
.input__nested-list:first-child {
    padding-top: 1em;
}
.input__nested-link {
    color: #2ecc71;
    text-decoration: none;
    border-bottom: 1px solid #2ecc71;
}


::-webkit-scrollbar {
    width: 0.65em;
    height: 0.65em;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}

