body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
 
    line-height: 1.45;
    background-color: #363636;
}
/*
* Header
*/
.title {
    min-height: 3vh;
    max-height: 3vh;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0 0 0.5em 0;
}
/*
* Main
*/

.mainPage {
    flex-flow: row nowrap;
    align-content: space-between;
    background-color: #6e6e6e;

    min-width: 45vw;
    max-width: 45vw;
    min-height: 96vh;
    max-height: 96vh;
    margin: 0 auto;
  
    padding: 1em;
    padding-bottom: 0;
}


*, *:before, *:after {
	box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.45;
    background-color: #363636;
}

.chatHistory {
    background-color: #363636;
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;
    min-height: 84vh;
    max-height: 84vh;
    margin: 0 auto;
    padding: 1em;
    padding-bottom: 0;
}

.chatList {
    font-family: inherit;
    font-size: 1em;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    overflow-x: hidden;
    width: 100%;
    max-height: 85vh;
    margin: 0 auto;
}

.chatList .userInput,
.chatList .botOutput {
    padding: 0.85em;
    margin: 0.5em;
    max-width: 100%;
    background-color: #fff;
    border-radius: 5px;
    border-bottom: 1px solid #777;
}

.chatList .userInput {
    box-shadow: 1px 1px 2px #666;
    border-top: 4px solid #cc8914;
    opacity: 0;
    animation-name: animateBubble;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

.chatList .botOutput {
    align-self: flex-start;
    box-shadow: -1px 1px 2px #666;
    border-top: 4px solid #27ae60;
    will-change: auto;
    height: auto;
    opacity: 0;
    animation-name: animateBubble;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

.chatList .botOutput:last-child {
    display: none;
}

.chatList .bot__command {
    color: #f5f5f5;
    color: #27ae60;
    font-weight: 600;
    padding: 0.1em;
}

.chatList .botOutput:nth-child(1) {
    animation-delay: 600ms;
    animation-play-state: running;
}

.chatList .botOutput:nth-child(2) {
    animation-delay: 1200ms;
    animation-play-state: running;
}

.chatList .botOutput:nth-child(3) {
    animation-delay: 1800ms;
    animation-play-state: running;
}

.chatList .botOutput--standard:last-child {
    display: block;
}

.chatList .botOutput--failed {
    display: block !important;
}

.chatList .botOutput--second-sentence {
    display: block;
}

.chatList .botOutputImage {
    max-width: 16em;
    height: 12em;
}

@keyframes animateBubble {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.block--background {
    background-color: #363636;
    width: 100vw;
    height: 100vh;
}

#chatform {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 1em;
    font-size: 1em;
    font-family: Helvetica;
}

@media screen and (max-width: 29em) {
    #chatform {
        width: 90%;
    }
}

.chatbox-area {
    margin: 0 auto;
    position: relative;
    bottom: 0;
    height: auto;
    width: 100%;
}

textarea[name="chatbox"] {
    resize: none;
    border: 2px solid #27ae60;
    border-right: 0;
    width: 70%;
    background-color: transparent;
    color: #fff;
    height: 3em;
    margin: 0;
    padding: 0.75em;
    border-radius: 8px 0px 0px 8px;
    font-family: inherit;
    font-size: 1em;
}

textarea[name="chatbox"]:focus {
    outline: none;
    border: 2px solid #4bd786;
}

::-webkit-input-placeholder {
    color: #fff;
}

input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    width: 15%;
    margin: 0;
    background-color: #27ae60;
    color: #fff;
    border: 2px solid #27ae60;
    border-left: 0;
    border-radius: 0 8px 8px 0;
    font-family: inherit;
    font-size: 1em;
    transition: 200ms all ease-in;
}
input[type="calc"]:hover,
input[type="submit"]:hover {
    background-color: #4bd786;
    border-color: #4bd786;
    color: #fff;
}

.input__nested-list {
    list-style: disc;
    list-style-position: inside;
    padding: 0.5em;
}

.input__nested-list:first-child {
    padding-top: 1em;
}

.input__nested-link {
    color: #2ecc71;
    text-decoration: none;
    border-bottom: 1px solid #2ecc71;
}

::-webkit-scrollbar {
    width: 0.65em;
    height: 0.65em;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}

.calculator {
    width: 5vw;
    height: 4vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.2em;
    border-radius: 8px 8px 8px 8px;
    margin: -50px 0 0 0;
}